body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}
p{
    font-size :  50rem;
    text-transform: uppercase;
}
.information {
    color: rgb(0, 0, 0);
    text-transform: lowercase;0
    text-align: center;
}
#subtitle{
    font-weight: 700 ;
    color: chartreuse;
}
header{
    background-image: url(img/background.jpg);
    height: 30vh;

}